/* Fundo e imagem do VBox da esquerda */
#vBox1AgendaEditar {
    -fx-background-color: #182052;
    -fx-background-image: url("../img/fundo_pontos.png");
    -fx-background-repeat: repeat, no-repeat;
    -fx-background-position: center center;
    -fx-background-size: contain, contain;
}

/* Fundo do VBox da direita */
#vBox2AgendaEditar {     
    -fx-background-color: #C5BAF4;  
    -fx-alignment: CENTER; 
}

#btInicio {
    -fx-background-image: url("../img/botao_home2.png");
    -fx-background-position: center;
    -fx-background-size: cover;         
    -fx-background-color: transparent;  
    -fx-background-radius: 0;           
    -fx-border-color: transparent;      
    -fx-padding: 0;                     
    -fx-pref-width: 50px;              
    -fx-pref-height: 50px;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

#btInicio:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#txtPaciente{
	-fx-font-family: "Comfortaa";
    -fx-font-size: 15px;
    -fx-fill: #d9d9d9;
    -fx-text-alignment: CENTER;
}

#btNomeDoPaciente {
	-fx-font-family: "Comfortaa";
    -fx-font-size: 15px;
    -fx-text-fill: #d9d9d9;
    -fx-background-color: rgba(58, 145, 252, 0.15);
    -fx-background-radius: 10px;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

#btNomeDoPaciente:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#btProntuario, #btFinanceiro, #btRelatorios, #btBiblioteca{
	 -fx-background-color: transparent;
    -fx-border-color: #DE3AFC;
    -fx-text-fill: #d9d9d9;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-font-family: "Nunito";
    -fx-font-size: 12px;
    -fx-padding: 4px 8px;
    -fx-alignment: CENTER;
    -fx-pref-width: 150px; 
    -fx-pref-height: 10px; 
	-fx-scale-x: 1;
    -fx-scale-y: 1;
}

#btProntuario:hover, #btFinanceiro:hover, 
#btRelatorios:hover, #btBiblioteca:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#txtAgenda{
	-fx-font-family: "Comfortaa";
    -fx-font-size: 28px;
    -fx-fill: #182052;
}

#hBoxAzul{
	-fx-background-color: rgba(24, 32, 82, 0.8);
    -fx-background-radius: 10px 10px 0px 0px;
}

#hBoxCinzaClaro1{
	-fx-background-color: rgba(140, 129, 204, 0.2);	
	-fx-background-radius: 0px 0px 10px 10px;
}

#hBoxCinzaClaro2 {
	-fx-background-color: rgba(140, 129, 204, 0.2);	
	-fx-background-radius: 10px 10px 10px 10px;
}

#txtMesAno{
	-fx-font-family: "Nunito";
    -fx-font-size: 18px;
    -fx-fill: #d9d9d9;    
}

#btMesAnterior {
	-fx-background-image: url("../img/botao_mes_anterior.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat; 
    -fx-background-position: center center;     
    -fx-background-color: transparent;  
    -fx-background-radius: 0; 
    -fx-padding: 0;                     
    -fx-pref-width: 40px;              
    -fx-pref-height: 40px;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

#btMesAnterior:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#btMesSeguinte {
	-fx-background-image: url("../img/botao_mes_seguinte.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat; 
    -fx-background-position: center center;     
    -fx-background-color: transparent;  
    -fx-background-radius: 0; 
    -fx-padding: 0;                     
    -fx-pref-width: 40px;              
    -fx-pref-height: 40px;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

#btMesSeguinte:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.lblDiasSemana {
	-fx-font-family: "Nunito";
    -fx-font-size: 10px;
    -fx-text-fill: #182052;
    -fx-font-weight: bold;
}

.btDiaMes {
	-fx-font-family: "Nunito";
    -fx-font-size: 12px;
    -fx-fill: #182052;
    -fx-background-color: rgba(230, 230, 250, 0.2);
    -fx-background-radius: 5;
    -fx-padding: 5 15 5 15;
    -fx-font-weight: bold;    
    -fx-alignment: center;
    -fx-text-alignment: center;    
}

.btHorario {
	-fx-font-family: "Nunito";
    -fx-font-size: 10px;
    -fx-text-fill: #182052;
    -fx-background-color: transparent;
    -fx-border-color: #3d3d3d #3d3d3d #3d3d3d #3d3d3d;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-border-radius: 10px 10px 10px 10px;
    -fx-border-style: solid;
    -fx-padding: 5px;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-text-alignment: center;
}