/* Fundo e imagem do VBox da esquerda */
#vBox1ProntuarioLista {
    -fx-background-color: #182052;
    -fx-background-image: url("../img/fundo_pontos.png");
    -fx-background-repeat: repeat, no-repeat;
    -fx-background-position: center center;
    -fx-background-size: contain, contain;
}

/* Fundo do VBox da direita */
#vBox2ProntuarioLista {
    -fx-background-color: #C5BAF4;
    -fx-alignment: CENTER;
}

#btHome {
    -fx-background-image: url("../img/botao_home.png");
    -fx-background-size: cover;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-pref-width: 100px;
    -fx-pref-height: 100px;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

#btHome:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#txtPaciente, #txtNomeDoPacienteAqui{
	-fx-font-family: "Comfortaa";
    -fx-font-size: 15px;
    -fx-fill: white;
}

#vboxPesquisa{
	-fx-border-width: 1px 1px 1px 1px;
    -fx-border-style: solid;
    -fx-border-color: white;
    -fx-border-radius: 5px;
    -fx-alignment: CENTER;
}

#txtPesquisar{
	-fx-font-family: "Nunito";
    -fx-font-size: 12px;
    -fx-pref-width: 50px;
    -fx-alignment: CENTER_LEFT;
    -fx-background-color: transparent;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-border-style: solid;
    -fx-border-color: white;
    -fx-border-radius: 15px;
    -fx-prompt-text-fill: white;
}

#listView {
    -fx-background-color: transparent;
    -fx-background: transparent;
}

#vBox1FundoRosa {
    -fx-background-color: #c38ebc;
    -fx-background-radius: 15px;
}

#vBox2FundoRosa {
    -fx-background-color: #c38ebc;
    -fx-background-radius: 15px;
}

#txtProntuario, #txtData, #txtDataDoProntuarioAqui, #txtDetalhesDoProntuario {
    -fx-font-family: "Comfortaa";
}

#txtData, #txtDataDoProntuarioAqui {
    -fx-font-size: 16px;
}

#txtProntuario {
    -fx-font-size: 23px;
}

#txtDetalhesDoProntuario {
    -fx-font-size: 19px;
}

#vBox3FundoRosa {
    -fx-background-color: #c38ebc;
    -fx-background-radius: 15px;
}

#vBox4FundoRosa {
    -fx-background-color: #A38EFC;
    -fx-background-radius: 15px;
}

#btSalvar {
    -fx-background-color: #9E3AFC;
    -fx-font-weight: bold;
    -fx-text-fill: #182052;
    -fx-font-family: "Comfortaa";
    -fx-background-radius: 12;
    -fx-padding: 8px 16px;
    -fx-alignment: CENTER;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

#txtAreaProntuario {
    -fx-background-color: transparent;
}

#txtAreaProntuario .content {
    -fx-background-color: transparent;
}

#txtAreaProntuario .viewport {
    -fx-background-color: transparent;
}

#btSalvar:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#cbFonte, #cbTamanho {
    -fx-background-color: #C5BAF4;
    -fx-background-radius: 5;
    -fx-border-color: #000000;
    -fx-border-radius: 5;
}

#cbFonte .list-cell, #cbTamanho .list-cell {
    -fx-text-fill: #182052;
}

#cbFonte .combo-box-popup .list-view, #cbTamanho .combo-box-popup .list-view {
    -fx-background-color: #C5BAF4;
    -fx-border-radius: 5;
    -fx-border-color: #000000;
    -fx-border-radius: 5;
}

#vBox1FundoOpcoes {
    -fx-background-color: #C5BAF4;
    -fx-background-radius: 5;
    -fx-border-color: #000000;
    -fx-border-radius: 5;
}
