Button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0px;
    -fx-padding: 0px 0px;
}

ComboBox {
    -fx-background-color: transparent;
    -fx-border-color: #182052;
    -fx-border-width: 2;
    -fx-border-radius: 10;
}

ComboBox .list-cell {
    -fx-text-fill: #182052;
}

TextField {
    -fx-background-color: transparent;
    -fx-text-fill: #182052;
    -fx-border-color: #182052;
    -fx-border-width: 2;
    -fx-font-size: 11.5pt;
    -fx-font-family: "Nunito";
    -fx-pref-width: 110;
    -fx-prompt-text-fill: #182052;
    -fx-border-radius: 10;
}

Text {
    -fx-font-size: 12.5pt;
    -fx-font-family: "Nunito";
    -fx-fill: #182052;
}

TextArea {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.titulo {
    -fx-font-size: 20pt;
    -fx-font-family: "Comfortaa";
    -fx-fill: #182052;
}

.subtitulo {
    -fx-font-size: 15pt;
    -fx-font-family: "Comfortaa";
    -fx-fill: #182052;
}

.label {
    -fx-font-size: 10pt;
    -fx-font-family: "Comfortaa";
    -fx-fill: white;
}

.fundoRosa {
    -fx-background-color: #DE3AFC;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 10;
}

.botoesEsquerda {
    -fx-background-color: transparent;
    -fx-border-color: rgba(255, 255, 255, 0.35);
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-text-fill: white;
    -fx-padding: 9px 10px;
    -fx-font-size: 12.5pt;
    -fx-font-family: "Nunito";
}

.combo-box-popup .list-view {
    -fx-background-color: white, white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
    -fx-padding: 3 0 3 7;
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: transparent;
}

.combo-box-popup .list-view .list-cell:selected {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #182052;
    -fx-background-radius: 5;
}

.scroll-bar:vertical .track {
    -fx-background-color: #5F3AFC;
    -fx-background-radius: 5;
}

.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-opacity: 0;
    -fx-cursor: default;
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow  {
    -fx-scale-x: 0;
    -fx-scale-y: 0;
}

.painelMeses {
    -fx-background-color: transparent;
    -fx-border-color: #182052;
    -fx-border-width: 1;
    -fx-background-radius: 0;
}

.botoesLayout {
    -fx-alignment: center;
    -fx-spacing: 10;
}

.botaoNao {
    -fx-font-size: 10pt;
    -fx-font-family: "Nunito";
    -fx-text-fill: #182052;
    -fx-background-color: #c60003;
    -fx-background-radius: 10px;
    -fx-padding: 3px 20px;
}

.botaoSim {
    -fx-font-size: 10pt;
    -fx-font-family: "Nunito";
    -fx-text-fill: #182052;
    -fx-background-color: #DE3AFC;
    -fx-background-radius: 10px;
    -fx-padding: 3px 20px;
}

.labelPergunta {
    -fx-font-size: 10pt;
    -fx-font-family: "Nunito";
    -fx-text-fill: #182052;
    -fx-padding: 0px 0px 0px 5px;
}

.layout {
    -fx-background-radius: 10px;
    -fx-border-color: #182052;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-background-color: #9E3AFC;
}

.painelMeses Text {
    -fx-font-size: 10pt;
}

.fundoRosa {
    -fx-background-color: #DE3AFC;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 10;
}

.fundoOpcoes {
    -fx-background-color: white;
    -fx-background-radius: 6;
    -fx-border-color: #182052;
    -fx-border-width: 2;
    -fx-border-radius: 6;
}

.botaoOpcoesTexto {
    -fx-text-fill: #182052;
    -fx-font-family: "Nunito";
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
}

.comboBoxEditorTexto {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-border-radius: 0;
}

.botaoOpcao {
    -fx-font-size: 12.5pt;
    -fx-font-family: "Nunito";
    -fx-text-fill: #182052;
    -fx-background-color: #9E3AFC;
    -fx-background-radius: 30px;
    -fx-padding: 10px 10px;
    -fx-pref-width: 200;
}

#botaoSair {
    -fx-background-color: transparent;
    -fx-border-color: rgba(255, 255, 255, 0.35);
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-text-fill: white;
    -fx-padding: 5px;
    -fx-font-size: 12.5pt;
    -fx-font-family: "Nunito";
    -fx-background-color: rgba(255, 0, 0, 0.35);
}

#valorTotal {
    -fx-background-color: transparent;
    -fx-text-fill: #182052;
    -fx-border-color: #182052;
    -fx-border-width: 2;
    -fx-font-size: 11.5pt;
    -fx-font-family: "Nunito";
    -fx-pref-width: 110;
    -fx-border-radius: 10;
    -fx-padding: 5px;
}

#botaoAlterar {
    -fx-font-size: 12.5pt;
    -fx-font-family: "Nunito";
    -fx-text-fill: #182052;
    -fx-background-color: #9E3AFC;
    -fx-background-radius: 30px;
    -fx-padding: 5px 40px;
}

#botaoExcluir {
    -fx-font-size: 12.5pt;
    -fx-font-family: "Nunito";
    -fx-text-fill: #182052;
    -fx-background-color: #c60003;
    -fx-background-radius: 10px;
    -fx-padding: 5px 40px;
}

#fundoRosaClaro {
    -fx-background-color: rgba(222, 58, 252, 0.3);
}

#tamanhoLetras .combo-box-popup .list-view {
    -fx-background-color: white, white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
    -fx-pref-width: 50;
    -fx-padding: 3 0 3 7;
}

#botaoExcluir {
    -fx-background-color: #c60003;
    -fx-font-size: 12.5pt;
    -fx-font-family: "Nunito";
    -fx-text-fill: #182052;
    -fx-background-radius: 30px;
    -fx-padding: 10px 10px;
    -fx-pref-width: 200;
}